<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Estudiante</title>
    <link rel="stylesheet" href="/css/editar_listar_estudiante.css">
</head>

<body>

<header>
    <div class="header-contenido">
        <a th:href="@{/listar_estudiantes}" class="btn-volver">Volver a la Lista</a>
        <h1>Editar Estudiante</h1>
    </div>
</header>

<div class="contenedor">

    <h2>Actualizar Información</h2>

    <form th:action="@{/actualizar}" method="post" th:object="${estudiante}">
        
        <input type="hidden" th:field="*{id}" />

        <div class="campo">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" required>
        </div>

        <div class="campo">
            <label>Correo</label>
            <input type="email" th:field="*{correo}" required>
        </div>

        <button type="submit" class="btn-actualizar">
            Actualizar
        </button>

    </form>

</div>

</body>
</html>