<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscripción de Estudiantes</title>
    <link rel="stylesheet" href="/css/inscripcion_estudiantes.css">
</head>

<body>

    <header>
        <div class="contenedor_max">
            <div class="contenedor1">
                <div class="boton_regresar">
                    <a th:href="@{/}">Regresar</a>
                </div>
            </div>

            <div class="contenedor2">
                <div class="inscripcion_estudiantes_texto">
                    <h1>Inscripción de Estudiantes</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="contenedor3">

        <h2>Registrar Estudiante</h2>

        <form th:action="@{/guardar}" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="email" name="correo" placeholder="Correo" required>
            <button type="submit">Guardar</button>
        </form>

        <div th:if="${mensaje}" class="mensaje-exito">
            <p th:text="${mensaje}"></p>
        </div>
        
        <a th:href="@{/listar_estudiantes}" class="btn-ver">
            Ver estudiantes registrados
        </a>

    </div>

</body>
</html>