<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Estudiantes</title>
    <link rel="stylesheet" href="/css/listar_estudiantes.css">
</head>

<body>
    <header>
        <div class="contenedor_max">
            <div class="contenedor1">
                <div class="boton_regresar">
                    <a th:href="@{/}">Regresar</a>
                </div>
            </div>
            <div class="contenedor2">
                <div class="listar_estudiantes_texto">
                    <h1>Listar Estudiantes</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="contenedor3">

        <h2>Lista de Estudiantes</h2>

        <br><br>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>

            <tr th:each="e : ${lista}">
                <td th:text="${e.id}"></td>
                <td th:text="${e.nombre}"></td>
                <td th:text="${e.correo}"></td>
                <td>
                    <a th:href="@{/editar/{id}(id=${e.id})}">Editar</a>
                    |
                    <form th:action="@{/eliminar/{id}(id=${e.id})}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('¿Seguro que deseas eliminar este estudiante?')">
                        Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        </table>

    </div>

</body>
</html> 