<!DOCTYPE html>
<html>
<head>
    <title>Servicios</title>
    <link rel="stylesheet" href="/css/servicios.css">
</head>

<body>
    <header>
        <div class="contenedor_max">
            <div class ="contenedor1">
                <div class="boton_regresar">
                    <a href="/"><button>Regresar</button></a>
                </div>
            </div>
            <div class="contenedor2">
                <div class="servicios_texto">
                    <h1>Servicios</h1>
                </div>
            </div>
        </div>

    </header>
    <div class="contenedor3">
        <div class="texto_servicios">
            <p>
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Sapiente corrupti amet reiciendis fugiat aut, 
                laboriosam suscipit voluptatibus numquam repellat ipsa maiores odio tempora architecto, 
                atque consectetur voluptatum maxime itaque ex?
            </p>
        </div>
    </div>
    


</body>
</html>