header {
    background: linear-gradient(90deg, #1e3a8a, #38bdf8);
    align-content: center;
    text-align-last: center;
}

h1 {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    flex-direction: column;
    margin: 0;
}

.navbar {
    background-color: #020617;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #38bdf8;
    color: #000;
}

.Desplegable {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;

    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e293b;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.Desplegable li {
    opacity: 0;
    transform: translateY(-5px);
    transition: 0.3s;
}

.Desplegable li a {
    padding: 10px;
}

.Desplegable li a:hover {
    background-color: #f97316;
    color: white;
}

.clasedesplegable:hover .Desplegable {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.clasedesplegable:hover .Desplegable li {
    opacity: 1;
    transform: translateY(0);
}

footer{
    padding: 20px;
    text-align: center;
    display: block;
    color: #ffffff;
}

footer hr {
    border: none;
    height: 2px;
    background-color: #0072ff;
}

.imagen {
    text-align: left;
    margin: 30px 0;
}

.imagen img{
    width: 400px;
    max-width: 90%;
    height: 240px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.imagen2 {
    text-align: right;
    margin: 30px 0;
}

.imagen2 img{
    width: 400px;
    max-width: 90%;
    height: 240px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.imagen3 {
    text-align: center;
    margin: 30px 0;
}

.imagen3 img{
    width: 400px;
    max-width: 90%;
    height: 240px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.imagenes{
    display: flex;
}

.contenedor{
    padding: 20px;
}

.contenedor2{
    padding: 20px;
}

.contenedor3{
    padding: 20px;
}

